.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-size: 1.1rem;
    font-weight: 700;
    color: white !important;
    letter-spacing: -0.025em;
}

.bi {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    font-size: 1.2rem;
    line-height: 1.25rem;
    text-align: center;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item ::deep a {
    color: #cbd5e1;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    padding: 0 1rem;
    transition: all 0.2s;
}

.nav-item ::deep a.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-weight: 600;
}

.nav-item ::deep a:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}